<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/chat}" method="post" th:object="${chatForm}">

    <label for="username">Username:</label>
    <input id="username" type="text" name="username" th:field="*{username}">
    <label for="messageText">Message Text:</label>
    <input id="messageText" type="text" name="messageText" th:field="*{messageText}">
    <label for="messageType">Message Type: </label>
    <!-- <select id="messageType">
        <option selected>Say</option>
        <option>Shout</option>
        <option>Whisper</option>
    </select> -->
    <select id="messageType" name="messageType" th:field="*{messageType}">
        <option
                th:each="type : ${allMessageTypes}"
                th:value="${type}"
                th:text="${type}"
        >
            Say
        </option>
    </select>
    <input type="submit">
</form>
<div th:each="chatMessage : ${chatMessages}"> <!--recoger los mensajes del usuario-->
    <span th:text="${chatMessage.username}">Username</span>: <span th:text="${chatMessage.messageText}">Hello, world!</span>
</div>
</body>
</html>