<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<div>  <label><a th:href="@{/login}">Back to Login</a></label></div>

<form th:action="@{/signup}" method="post">

    <label for="inputUsername">Username:</label>
    <input id="inputUsername" name="username" type="text">
    <label for="password">Pasword:</label>
    <input id="password" type="password" name="password">
    <label for="surname">Surname: </label>
    <input id="surname" type="text" name="surname">
    <label for="lastname">Lastname: </label>
    <input id="lastname" type="text" name="lastname">
    <input type="submit">
</form>

</body>
</html>